<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>John pkErbynn</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  </head>
<body>


  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="static/index.html"><h1>My Flask WebPage</h1></a>
          </div>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="static/#">
                <br class="hidden-xs"> Weather Cast</a>
            </li>
            <li>
              <a href="#">
                <br class="hidden-xs"> Tweet Cast</a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>


  <div id="main-content" class="container">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Location</label>
        <input type="text" class="form-control" id="" placeholder="Enter Location">
        <small id="" class="form-text text-muted">Example: Accra, Ghana.</small>
      </div>

      <button type="submit" class="btn btn-primary">Show Weather</button>
    </form>
  </div><!-- End of #main-content -->

  <footer class="panel-footer">
    <div class="container">
      <div class="text-center">&copy; Copyright pkErbynn - GlobalCode'18</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="static/js/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/script.js"></script>
</body>
</html>
